#bg1 {
    background-image: url('../images/h_img.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#services {
    background-image: url('../images/s_image.jpg');
    color: white;
    background-position: center;
    padding: 120px;
    padding: 80px;
    margin-bottom: 50px;
}
#mouse_click {
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
    animation: bounce 2s infinite;
}
#main-page {
    padding-top: 14%;
    margin-bottom: 9%;
}
#contact {
    padding-top: 100px;
    margin-bottom: 50px;
    background-image: url('../images/c_image.jpg');
    background-size: cover;
    background-position: cover;
    width: 100%;
    max-width: 100%;
    margin-top: 10%;
    color: white;
}

.image1 {
    padding-top: 9%;
    margin-bottom: 3%;
}
#about {
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.shift {
    text-align: center;
    color: black;
}
.pace {
    font-size: cal(1vh + 1vw + .5vmin);
    text-align: center;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.hide {
    display: none;
}
.space {
    color: white;
}
.form-cont {
    text-align: center;
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
}
.footer {
    color: black;
}
.ptag {
    padding: 5% 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 50px 10px;
    font-weight: 100%;
    padding-top: 30px;
    border: 4px solid whitesmoke;
    font-size: 1.1em;
    line-height: 90%;
    margin: 20% 5%;
    overflow: hidden;
    letter-spacing: 2px;
    font-family: 'Merienda', cursive; 
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}.card-1 {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.582);
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
}
.card:hover img {
    transform: scale(1.2);
    transition: all 0
}
.card-deck {
    padding: 1% 4%;
}
